@import url(reset.css);

/** {outline: 2px solid red}*/

.page {
	font-family: Helvetica;
	font-style: normal;
	line-height: 23px;
	position: relative;
}

.main {	font-size: 0} 
/*to delete gaps between blocks with content*/

.header, .footer {
	height: 60px;
	background-color: #FE1A19;
}

.header_title {
	padding: 20px;
	color: white;
	font-style: normal;
	font-weight: bold;
}

.chief_block {
	margin: 52px 0;
	text-align: center;
}

.chief_block > div {
	width: 400px;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 33px;
	display: inline-block;
	text-align: left;
}

.block1 > div {margin-top: 25px}
.block2 > div {margin-top: 25px}
.block3 > div {margin-top: 25px}

.block2, .block3 {margin-left: 50px}

h2 {
	font-size: 20px;
	font-weight: bold;
}

h3 {
	color: black;
	font-size: 20px;
	font-family: Times New Roman;
	text-transform: uppercase;
}

ul {
	font-size: 20px;
	font-family: Times New Roman;
	font-weight: normal;
	/*margin-block-end: 1.1em;*/
}

.footer_copy {
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	padding: 20px;
}