.linear {
	width: 300px;
	height: 200px;
	background-image: linear-gradient(to bottom, yellow 10%, red 20%, blue 30%, green 40%)
}

.radial {
	width: 500px;
	height: 500px;
	background-image: radial-gradient(green 40%, grey 30%);
}

.shadow {
	width: 300px;
	height: 500px;
	box-shadow: 0px 0px 4px blue;
	border-radius: 15px;
}