@import url(reset.css);

div {
	height: 15vh;
	background-color: green;
}

@media screen and (min-width: 600px) {
	div {
		height: 20vh;
		background-color: blue;
	}
}

@media screen and (min-width: 960px) {
	div {
		height: 23vh;
		background-color: red;
	}
}

@media screen and (min-width: 1264px) {
	div {
		height: 25vh;
		background-color: yellow;
	}
}

@media screen and (min-width: 1904px) {
	div {
		height: 27vh;
		background-color: navy;
	}
}