@import url(reset.css);

html {
	font-size: 62.5%;
}

body {
	padding: 2rem;
}

h1 {
	margin: 1rem 0;
	font-size: 2rem;
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.crypto__diagram {
	height: 30px;
}

.d-color1 {background-color: red;}
.d-color2 {background-color: navy;}
.d-color3 {background-color: green;}