@import url(reset.css);

html {
	font-size: 62.5%;
}

body {
	padding: 2rem;
}

.crypto-name {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	margin: 1rem 0;
}

.crypto-value {
	font-size: 1.5rem;
	margin: 1rem 0;
}

.value-scale {
	height: 3rem;
}