/*@import url(reset.css); */

/** {outline: 2px solid red}*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font: inherit;
	box-sizing: border-box;
}

html {font-size: 62.5%;}

:root {
	--basic-f-size: 2rem;
	--title-font: 'Helvetica', sans-serif;
	--body-font: 'Times New Roman', serif;
	--back-color: #fe1a19;
}

.page {
	font-style: normal;
	line-height: 2rem;
	position: relative;
}

.main {	
	font-size: 0; /*to delete gaps between blocks with content*/
	padding: 5.2rem 0;
	text-align: center;
}	

.header, .footer {
	height: 6rem;
	background-color: var(--back-color);
}

.header_title {
	line-height: 6rem;
	padding-left: 2rem;
	color: white;
	font-size: var(--basic-f-size);
	font-family: var(--title-font);
	font-style: normal;
	font-weight: bold;
}

.main > div {
	width: 40rem;
	border: 0.5rem solid #E5E000;
	box-sizing: border-box;
	border-radius: 3rem;
	padding: 3.3rem;
	display: inline-block;
	text-align: left;
}

.block_container > h3 {margin-top: 2.5rem}

.second,.third {margin-left: 5rem}

h2 {
	font-size: var(--basic-f-size);
	font-family: var(--title-font);
	font-weight: bold;
}

h3, ul {
	font-family: var(--body-font);
	font-size: var(--basic-f-size);
}

h3 {
	color: black;
	text-transform: uppercase;
}

.footer_copy {
	color: white;
	font-weight: bold;
	font-size: var(--basic-f-size);
	font-family: var(--title-font);
	text-transform: uppercase;
	line-height: 6rem;
	padding-left: 2rem;
}