@import url(reset.css);

body {
	display: flex;
	justify-content: center;
}

div {
	width: 500px;
	height: 500px;
	background-color: red;
	/*	transition-property: all;
	transition-duration: 1s;
	transition-delay: .7s;
	transition-timing-function: ease-in;
	https://cubic-bezier.com/#.17,.67,.8,.63 - кубик безье*/
	transition: all 1s .7s ease-in; 
}

div:hover {
	background-color: orange;
	border: 1px dashed black;
	border-radius: 50%;
}