@import url(reset.css);

.outer {
	height: 500px;
	border: 2px dashed navy;
	position: relative;
}

.first, .second, .third {
	width: 150px;
	height: 150px;
	border-radius: 100px;
}

.first {
	background-color: red;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.second {
	background-color: yellow;
	position: absolute;
	bottom: 100px;
	right: 0;
	z-index: 1;
}

.third {
	background-color: green;
	position: absolute;
	bottom: 200px;
	right: 0;
	z-index: -1;
}